body { background-color:#fcfcfc; }
.col-md-3, .row { margin-left:0; margin-right:0; padding: 0; }
.item h4 a { color: #333; }
.box_gallery { padding: 5px;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); margin: 5px;}
.box_gallery a.info img.img-responsive { max-width: 100%; display: block; height: auto; border-radius: 5px;}
h4.title{ text-transform: none;font-size: 20px;margin-top: 0px;padding: 15px 0; }
.loader { height: 40px; display: block; margin: 15px 0; text-align: center; }
